body {
    height: 100%;
}

select.dropdown {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #595B5B;
    background-image: none;
    box-shadow: 0 0 0 1px #303233;
    border: none;
    border-top: 2px solid #666767;
    color: #FFF;
    text-shadow: 0 -1px 0 #000;
    overflow: hidden;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-appearance: none;
    -moz-appearance: button;
}

#main-question {
    min-height: 200px;
}

#approved-filter {
    float: right;
}

#question-list {
    margin-bottom: 4.375rem;
}
#footer {
   position:fixed;
   left:0;
   bottom:0; 
   width:100%;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.field {
    padding-top: 10px;
}

.radio-inline {
    padding-right: 10px;
    display: inline;
}
.category {
    padding-left: 10px;
    font-weight: bold;
}

.menu-icon {
    background: url("../img/hamburger_dark.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.arrow-left-icon {
    background: url("../img/arrow_left.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.arrow-right-icon {
    background: url("../img/arrow_right.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.delete-icon {
    background: url("../img/delete.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.pencil-icon {
    background: url("../img/pencil.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.checkmark-icon {
    background: url("../img/checkmark.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.refresh-icon {
    background: url("../img/refresh.svg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

